---
- name: Apply common configuration to all machines
  hosts: all
  become: yes
  roles:
    - common

- name: Configure web servers
  hosts: webservers
  become: yes
  roles:
    - webserver

- name: Configure load balancer
  hosts: loadbalancer
  become: yes
  roles:
    - loadbalancer
