<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meu Projeto Ansible</title>
  </head>
  <body>
    <h1>Aplicação de Exemplo</h1>
    <p>Servidor: {{ inventory_hostname }}</p>
  </body>
</html>
